 footer {
     padding-top:1%;
     background-color: #2e9fb3;
 }
 .logo{
    font-family: Anton;
    font-size: 45px;
    font-weight: 900;
    color:#fff;
    line-height: 1;
 }
 .social{
     margin: 0 2%;
     font-size: 1.063rem;
     font-weight: 400;
     
 }

 footer a, footer h6 {
    font-size: .75rem;
    line-height: 2;
    color: rgba(255,255,255,.7);
    font-weight: 700;
    
    transition:0.3s ease-in-out;
}
footer a:hover{
    text-decoration:none;
    color:#fff;
}
footer h6{
    margin-top:4%;
}
.footer-link{
    display:block;
}

.footer-bottom-link{
    display:inline-block;
    margin-right:2%;
}

.disclosure{
    font-size: 0.80rem;
    line-height: 1.4;
    color: rgba(255,255,255,.4);
    margin-bottom: 1rem;
    font-weight:400;

}
.copyright{
    color: rgba(255,255,255,.4);
    font-weight: 600;
}

@media only screen and (max-width: 968px) {
    
    footer p{
        display:inline-block;
        margin-right: 28vw;
    }
  }